<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
    <title>Add Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
</head>
<body>
<header id="header">
    <div th:replace="fragments/navbar.html :: menu"></div>
</header>
<div class="container">
    <div class="content">
        <div class="container-row">
            <h2 class="title is-4"><strong>Add Student</strong></h2>
            <br>
            <div class="columns is-mobile">
                <div class="col-md-8 col-md-offset-3">
                    <form autocomplete="off" action="#" th:action="@{/students/add}"
                          th:object="${student}" method="post" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <div class="column">
                                <label for="name" class="label">Name</label> <input type="text" th:field="*{name}" class="input is-normal" id="name" placeholder="Name"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <label for="birthDate" class="label">Birthdate</label> <input type="text" th:field="*{birthDate}" class="input is-normal" id="birthDate" placeholder="Birthdate(XX-XX-XXXX)"> <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <label for="address" class="label">Address</label> <input type="text" th:field="*{address}" class="input is-normal" id="address" placeholder="Address"> <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <label for="phone" class="label">Phone</label> <input type="text" th:field="*{phone}" class="input is-normal" id="phone" placeholder="Phone Number"> <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <label for="program" class="label">Program</label> <input type="text" th:field="*{program}" class="input is-normal" id="program" placeholder="Program"> <span th:if="${#fields.hasErrors('program')}" th:errors="*{program}" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="column">
                                <br>
                                <button type="submit" class="button is-success">Add Student</button>
                            </div>
                        </div>
                        <h2 class="title is-4"><span class="text-success" th:utext="${successMessage}"></span></h2>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:insert="fragments/footer :: footer">
</footer>
</body>
</html>